.container {
    display: flex;
    padding-bottom: 1.24rem;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

::-webkit-input-placeholder {
    color: #969494;
}
::-moz-placeholder {
    color: #969494;
}
:-ms-input-placeholder {
    color: #969494;
}
:-moz-placeholder {
    color: #969494;
}

.animate-top {
    position: relative;
    animation: animatetop 0.4s;
}

@keyframes animatetop {
    from { top: -300px; opacity: 0; }
    to { top: 0; opacity: 1; }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    margin: 8% auto;
    width: 90%;
    max-width: 40rem;
    padding: 1.25rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-color: rgba(68, 30, 6, 1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid #e9ecef;
}

.modal-title {
    font-size: 1.25rem;
    color: white;
    margin: 0;
}

.close {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.5;
}
.close:hover {
    opacity: 0.8;
}

.modal-body {
    min-height: 9rem;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 5rem;
    border: none;
    transition: background-color 0.15s ease-in-out;
}

.btn-primary {
    color: white;
    background-color: blue;
}
.btn-primary:hover {
    background-color: gold;
    color: black;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 0.5rem;
}

label {
    margin-top: 0.5rem;
    display: flex;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0;
}
/* Responsive design */
@media screen and (max-width: 768px) {
    .modal-content {
        width: 80%;
        margin-top: 15rem;
    }
    .form-control {
        padding: 0.5rem;
        font-size: 1rem;
        border: 0.1rem solid #ccc;
        border-radius: 0.5rem;
    }
}